---
layout: home
title: 首页
---

<section class="banner-wrap">
  <img class="banner" src="{{site.baseurl}}/assets/img/banner.jpg" alt="banner" />
</section>

<div class="container">
  <div class="hero">
    <h2 class="hero__title" style="font-size: 1.7em; font-weight: bold;">QuedicShares</h2>
    <p class="hero__description">Shaping the Future of Money through Influential Financial and Cryptocurrency Insights</p>
  </div>
</div>



<!-- News -->
<div class="container">
  {% include section-head.html name="news" more="See all News"-%}
  <ul class="article-list article-list-first">
    {%- include article-range.html name="news" limit=4 -%}
  </ul>
</div>

<!-- OPINION -->
<div class="container">
  {% include section-head.html name="opinion" more="See More"-%}
  <ul class="article-list article-list-first">
    {%- include article-range.html name="opinion" limit=4 -%}
  </ul>
</div>

<!-- POLICY -->
<div class="container">
  {% include section-head.html name="policy" more="See More"-%}
  <ul class="article-list article-list-first">
    {%- include article-range.html name="policy" limit=4 -%}
  </ul>
</div>

<!-- Podcasts -->
<div class="container">
  {% include section-head.html name="podcasts" more="More Podcasts"-%}
  <ul class="article-list article-list-first">
    {%- include article-range.html limit=4 name="podcasts" -%}
  </ul>
</div>

<!-- Events -->
<div class="container">
  {% include section-head.html name="events" more="See More"-%}
  <ul class="article-list article-list-first">
    {%- include article-range.html name="events" limit=4 -%}
  </ul>
</div>
