<div class="container">
  <div class="footer__info">
    <div class="footer__content row">
      <div class="split-meta col col-4 col-d-12">
        <h3>{{site.title}}</h3>
        <p>{{site.description}}</p>
        <ul>
          <li>
            <a href="https://twitter.com/Quedicshares" target="_blank" rel="noopener">
              <i class="ion ion-logo-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://t.me/ThatBrianLau" target="_blank" rel="noopener">
              <i class="ion ion-logo-plane"></i>
            </a>
          </li>
          <li>
            <a href="https://codepen.io" target="_blank" rel="noopener">
              <i class="ion ion-logo-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://pinterest.com" target="_blank" rel="noopener">
              <i class="ion ion-logo-youtube"></i>
            </a>
          </li>
         
        </ul>
      </div>
      <div class="col col-6 col-d-12">
        <h3>Recent posts</h3>
        <ul class="article-list article-list-all-first">
          {%- include article-range.html limit=2 -%}
        </ul>
      </div>
      <div class="split-menu col col-2 col-d-12">
        <h3>Menu</h3>
        {%- include menu.html -%}
      </div>
    </div>
  </div>
</div>
