<!doctype html>
<html>
  {% include head.html -%}
  <style>
    .post-share {
      margin-top: 20px; /* 在分享按钮和文章内容之间添加一些间距 */
      text-align: center; /* 将分享按钮居中显示 */
    }

    .post-share a {
      padding: 8px 16px;
      background-color: #1DA1F2; /* Twitter 的品牌颜色 */
      color: white;
      text-decoration: none;
      border-radius: 4px;
    }
  </style>
  <body>
    <div class="page page-post">
      {% include nav.html -%}
      <div class="container">
        <div class="page-head">
          <div class="page__info">
            <h1 class="page__title">{{ page.title }}</h1>
          </div>
          {%- include article-meta.html -%}
        </div>
        <article class="article-post">
          {{ content }}
          <div class="post-share">
            <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url | url_encode }}" target="_blank">Share on Twitter</a>
          </div>
        </article>
      </div>
    </div>
    {% include footer.html -%}
  </body>
</html>
